<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>config Util</title>
        <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
        <style type="text/css">
        	body{padding-top: 150px;padding-bottom: 120px;}
        	td{height: 45px;}
        	input{width: 60px;text-align: center;margin-left: 15px;}
			.longInput{width: 260px;}
			input[type=checkbox]{width: 15px;}
        </style>
    </head>
    <body>
    	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  			<div class="container">
	    	<form role="form" id="form" enctype="multipart/form-data" method="post">
	    		<div class="form-group">
				    <label for="exampleInputFile">请选择zip压缩文件 文件夹名称只能英文且不能存在空格</label>
				    <input style="width:220px" type="file" name="upload" multiple="multiple">				  
				</div>
			    <button type="submit" class="btn btn-default">Submit</button>
		    </form>
		  </div>
		</nav>
		
		<div id="container" class="container"  style="min-width:10500px;">
			
			<div style="">
			<div id="wakeup" style="float:left;" >
				<!-- 添加唤醒词模态框 -->
			  <div id="addTdsModal" class="modal fade bs-example-modal-sm addtds" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			    	<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title">批量添加唤醒词</h4>
			        </div>
			        <form class="form-horizontal" role="form" style="padding-top:15px">
					  <div class="form-group">				    
					    <div class="col-sm-11">
					      <input type="text" class="form-control" v-model="newWord" placeholder="唤醒词">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-11">
					      <input type="number" class="form-control" step="0.01" min="0" max="1" v-model="newThresh"  placeholder="默认值">
					    </div>
					  </div>				 
					  <div class="form-group">
					    <div class="col-sm-offset-1 col-sm-10">
					      <button type="button" role="button"  class="btn btn-default btn-block" v-on:click="addTds(newWord,newThresh)">确定</button>
					    </div>
					  </div>
					</form>
			    </div>
			  </div>
			</div>
			<!-- 添加唤醒词模态框 end -->
			<!-- 添加唤醒词模态框 -->
			  <div id="addTdModal" class="modal fade bs-example-modal-sm addtd" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
			    	<div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title">添加唤醒词</h4>
			        </div>
			        <form class="form-horizontal" role="form" style="padding-top:15px">
					  <div class="form-group">				    
					    <div class="col-sm-11">
					      <input type="text" class="form-control" v-model="newWord" placeholder="唤醒词">
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-11">
					      <input type="number" class="form-control" step="0.01" min="0" max="1" v-model="newThresh"  placeholder="默认值">
					    </div>
					  </div>				 
					  <div class="form-group">
					    <div class="col-sm-offset-1 col-sm-10">
					      <button type="button" role="button"  class="btn btn-default btn-block" v-on:click="addTd(newWord,newThresh)">确定</button>
					    </div>
					  </div>
					</form>
			    </div>
			  </div>
			</div>
			<!-- 添加唤醒词模态框 end -->			
			  <table class="table table-bordered table-hover table-striped">
			  	<thead>
			  		<tr><td>唤醒词文件</td></tr>
			  	</thead>
			  	<tbody>
			  		<tr>
			  			<td align="center">型号</td>
			  			<td align="center" style="fixed:left">mainword</td>
			  			<td align="center">nickname</td>
			  			<td><button class="btn btn-info btn-xs" data-toggle="modal" data-target=".addtds" >添加一列</button></td>
			  			<template v-for='n in items[0].wordsArr.length'>
			  			<!-- v-on:change="check(n)" -->
			  			<td align="center">
			  				<label> <input  v-on:change="check(n)" type="checkbox">唤醒词{{n}}  </label>
			  				<button class="btn btn-danger btn-xs" v-on:click="deleteTds(n)" >删除此列</button>
			  			</td>
			  			</template>
			  			
			  		</tr>
				  	<tr  v-for="(item ,index) in items">						
				  		<td align="center">{{item.key}}</td>
				  		<td align="center">{{item.mainword}}</td>
				  		<td align="center">{{item.nickname}}</td>
				  		<td></td>
				  		<template v-model="word" v-for="(word, subindex) in item.wordsArr" >
							<!-- <input  type="checkbox"> -->
				  			<td><label>{{word}}</label><input  v-on:change="onchange(index,subindex,word)" v-model="item.threshArr[subindex]"/></td>
				  		</template>
				  		<td>
				  		<button class="btn btn-info btn-xs" data-toggle="modal" data-target=".addtd" v-on:click="toAddtd(index)" >添加唤醒词</button>
				  		<button class="btn btn-danger btn-xs"  v-on:click="deleteTd(index)" > 删除最后一个</button>
				  		</td>
				  						  						  	
				  	</tr>
			    </tbody>
			  </table>
			</div>
			<div  id="config" style="float:left;" >
			  <table class="table table-bordered table-hover table-striped">
			  	<thead>
			  		<tr><td>配置文件</td></tr>
			  	</thead>
			  	<tbody>
				  	<tr>				  		
				  		<td align="center"><label> <input   type="checkbox">reversed_channel</label></td>
				  		<td align="center"><label> <input   type="checkbox">interrupt_enable</label></td>
				  		<td align="center"><label> <input   type="checkbox">poicluster_enable</label></td>
				  		<td align="center"><label> <input   type="checkbox">tts_audio_track_vol</label></td>
				  		<td align="center">aios_app_key</td>
				  		<td align="center">aios_secret_key</td>
				  		<td align="center">aios_user_id</td>
				  	</tr>
				   <tr contenteditable="true" v-for="(item,index) in items">				    	
				    	<td align="center"> <input v-on:change="onchange(index,0,'reversed_channel')" v-model="item.reversed_channel"/></td>
				    	<td align="center"> <input v-on:change="onchange(index,1,'interrupt_enable')" v-model="item.interrupt_enable"/></td>
				    	<td align="center"> <input v-on:change="onchange(index,2,'poicluster_enable')" v-model="item.poicluster_enable"/></td>
				    	<td align="center"> <input v-on:change="onchange(index,3,'tts_audio_track_vol')" v-model="item.tts_audio_track_vol"/></td>
				    	<td align="center"> <input class="longInput" v-on:change="onchange(index,4,'aios_app_key')" v-model="item.aios_app_key"/></td>
				    	<td align="center"> <input class="longInput" v-on:change="onchange(index,5,'aios_secret_key')" v-model="item.aios_secret_key"/></td>
				    	<td align="center"> <input class="longInput" v-on:change="onchange(index,6,'aios_user_id')" v-model="item.aios_user_id"/></td>
				   </tr>
			    </tbody>
			  </table>
			</div>
			<div id="provision" style="float:left;" >
			  <table class="table table-bordered table-hover table-striped">
			  	<thead>
			  		<tr><td>证书文件</td></tr>
			  	</thead>
			  	<tbody>
				  	<tr><td align="center">路径</td></tr>
				    <tr v-for="(value, key) in object">
				    	<td align="center">{{value}}</td>
				    </tr>
			    </tbody>
			  </table>
			</div>
			</div>			
		</div>

		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  			<div class="container">	    		    
			    <button type="button" onclick="downloadZip()" class="btn btn-success">打包下载</button>		    
		  </div>
		</nav>
	    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
	    <script src="./bower_components/jquery-form/jquery.form.js"></script>
	    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	    <script src="./bower_components/bootstrap/js/alert.js"></script>
	    <script src="./bower_components/vue/dist/vue.min.js"></script>
	    <script type="text/javascript">
	    $("#container").scrollLeft();

	    String.prototype.replaceAll = function(s1,s2){
		　　return this.replace(new RegExp(s1,"gm"),s2);
		}
	    function deleteNullInArray(array){
	    	for(var i = 0 ;i<array.length;i++)
 				{
		            if(array[i] == "" || typeof(array[i]) == "undefined")
		            {
		                array.splice(i,1);
		                i= i-1;		                  
		            }		            
 				}
 			return array;
	    }
	    readFolder();
	    //解压
	    function unzip(filePath){
	    	$.ajax({
				type: "POST",
				url:'/unzip',
				data:{'filePath':filePath},
				async: false,
				error: function(request) {
					alert("Connection error");
				},
				success: function(result) {					
					if(result.success){
						location.reload();
					}
				}
			});
	    }
	    //读文件
	    function readFolder(){
	    	$.ajax({
				type: "POST",
				url:'/readFolder',
				async: false,
				error: function(error) {
					console.log(error);
				},
				success: function(result) {
					if(result.success){
						dealData(result);
					}
					
				}
			});
	    }


	    //上传zip
	    $(function() {  
	        $("#form").submit(function(){  
	            $(this).ajaxSubmit({  
	                type:"post",  //提交方式  
	                dataType:"json", //数据类型  
	               	url:'/upload', //请求url  
	                success:function(result){ //提交成功的回调函数
	                	if(result.success){
	                		console.log(result.msg);
	                		unzip(result.filePath);
	                	}  
	                    //console.log(result);
	                }  
	            });  
	            return false; //不刷新页面  
	        });       
	    }); 

	    function downloadZip(){
	    	$.ajax({
				type: "POST",
				url:'/zipFolder',
				async: false,
				error: function(error) {
					console.log(error);
				},
				success: function(result) {
					if(result.success){
						window.open("/"+result.file);
					}
					console.log(result);
					
				}
			});
	    }

	    //dealData
	    function dealData(result){
			var wakeup = result.wakeup;
			var config = result.config;
			var provision = result.provision;
			var wakeupSerial = [];
			//console.log(deleteNullInArray(config['dyxc-D687-6735P'].split('\r\n')));
			
			for(var key in wakeup){
				var obj = JSON.parse(wakeup[key]).request;
				var newObj = {};
				newObj.coreType = obj.coreType;
				newObj.mainword = obj.mainword;
				newObj.nickname = obj.nickname;
				newObj.filePath = obj.filePath;
				var env = obj.env;
				
				var envArr = env.split(';');
				var wordsArr = envArr[0].replace('words=','').split(',');
				var threshArr = envArr[1].replace('thresh=','').split(',');	
				newObj.wordsArr = wordsArr;
				newObj.threshArr = threshArr;
				newObj.key = key;
				wakeupSerial.push(newObj);
			}
			/*for(var key in config){							
				config[key] = config[key].replaceAll('\r\n','<br/>');
			}*/
			new Vue({
			  el: '#wakeup',
			  data: {
			    items: wakeupSerial,
			    newWord: '',
			    newThresh : 0.01,
			    toAddtdIndex:''
			  },
			  methods: {
			    onchange: function (index,subindex,key) {
			    	console.log(event.target.value);
			    	var checkbox = $("#wakeup table tr").eq(1).find("td").eq(subindex+4).find("input[type='checkbox']")[0];
			    	console.log(checkbox);
			    	var updateAll = checkbox==undefined? false : checkbox.checked;
			    	var items = this.items;
			    	if(updateAll){
			    		for (var i =0; i<items.length; i++) {
			    			this.items[i].threshArr[subindex] = items[index].threshArr[subindex];
			    			$.ajax({
								type: "POST",
								url:'/saveWakeupFile',
								data:{'wakeupFile':items[i]},
								async: false,
								error: function(error) {
									console.log(error);
								},
								success: function(result) {
									console.log('正在更改第'+i+'个文件');
								}
							});
			    		}
			    		location.reload();
			    	}else{
				    	$.ajax({
							type: "POST",
							url:'/saveWakeupFile',
							data:{'wakeupFile':items[index]},
							async: false,
							error: function(error) {
								console.log(error);
							},
							success: function(result) {
								alert(result.msg);
							}
						});	
					}	      
			  	},
			  	toAddtd:function(index){
			  		this.toAddtdIndex = index;
			  		console.log(this.toAddtdIndex);
			  	},
			  	addTd:function(newWord,newThresh){			  					  		
			  		
			  		if(newWord===''||newThresh===''){
			  			alert('newWord newThresh 不能为空');
			  			return false;
			  		}
			  		if(newThresh>1){
			  			alert('thresh 值不能大于 1');
			  			return false;
			  		}
			  		var items = this.items;		  					  		
			  			this.items[this.toAddtdIndex].wordsArr.push(newWord);
		    			this.items[this.toAddtdIndex].threshArr.push(newThresh);		    			
		    			$.ajax({
							type: "POST",
							url:'/saveWakeupFile',
							data:{'wakeupFile':items[this.toAddtdIndex]},
							async: false,
							error: function(error) {
								console.log(error);
							},
							success: function(result) {
								console.log(result);
							}
						});			    			
		    		$('#addTdModal').modal('hide');
		    		
			  	},
			  	addTds:function(newWord,newThresh){			  					  		
			  		
			  		if(newWord===''||newThresh===''){
			  			alert('newWord newThresh 不能为空');
			  			return false;
			  		}
			  		if(newThresh>1){
			  			alert('thresh 值不能大于 1');
			  			return false;
			  		}
			  		var items = this.items;
			  		for (var i =0; i<items.length; i++) {			  					  		
			  			this.items[i].wordsArr.splice(1, 0, newWord);
		    			this.items[i].threshArr.splice(1, 0,newThresh);		    			
		    			$.ajax({
							type: "POST",
							url:'/saveWakeupFile',
							data:{'wakeupFile':items[i]},
							async: false,
							error: function(error) {
								console.log(error);
							},
							success: function(result) {
								console.log('正在更改第'+i+'个文件');
							}
						});			    			
		    		}
		    		$('#addTdsModal').modal('hide');
		    		
			  	},
			  	deleteTds:function(index){
			  		if(!confirm('确定删除该列唤醒词吗？')){
			  			return false;
			  		}
			  		var items = this.items;
			  		for (var i =0; i<items.length; i++) {
		    			this.items[i].threshArr.splice(index-1,1);
		    			this.items[i].wordsArr.splice(index-1,1);
		    			$.ajax({
							type: "POST",
							url:'/saveWakeupFile',
							data:{'wakeupFile':items[i]},
							async: false,
							error: function(error) {
								console.log(error);
							},
							success: function(result) {
								console.log('正在更改第'+i+'个文件');
							}
						});			    			
		    		}
			  	},
			  	deleteTd:function(index){
			  		if(!confirm('确定删除该唤醒词吗？')){
			  			return false;
			  		}
	    			this.items[index].threshArr.pop();
	    			this.items[index].wordsArr.pop();
	    			$.ajax({
						type: "POST",
						url:'/saveWakeupFile',
						data:{'wakeupFile':this.items[index]},
						async: false,
						error: function(error) {
							console.log(error);
						},
						success: function(result) {
							console.log(result);
						}
					});			    			
			  	},
			  	check : function(index){
			  		var checked = event.target.checked;
			  		var trs = $("#wakeup table tr");
			  		console.log(checked);
			  		if(checked){

			  		}
			  		/*if(checked){
			  			for(var i=2;i<trs.length;i++){
			  				trs.eq(i).find("td").eq(index+2).find("input[type='checkbox']")[0].checked=true;
			  			}	
			  		}else{
			  			for(var i=2;i<trs.length;i++){
			  				trs.eq(i).find("td").eq(index+2).find("input[type='checkbox']")[0].checked=false;
			  			}
			  		}*/
			  	}	
			  }
			});
			new Vue({
			  el: '#config',
			  data: {
			    items: config
			  },
			  methods: {
			    onchange: function (index,tdIndex,key) {
			    	var checkbox = $("#config table tr").eq(1).find("td").eq(tdIndex).find("input[type='checkbox']")[0];
			    	var updateAll = checkbox==undefined? false : checkbox.checked;
			    	var items = this.items;
			    	if(updateAll){
			    		for (var i =0; i<items.length; i++) {
			    			this.items[i][key] = items[index][key];
			    			$.ajax({
								type: "POST",
								url:'/saveConfigFile',
								data:{'configFile':this.items[i]},
								async: false,
								error: function(error) {
									console.log(error);
								},
								success: function(result) {
									console.log('正在更改第'+i+'个文件');
								}
							});
			    		}
			    		alert('批量修改成功');
			    		//location.reload();
			    	}else{
				    	$.ajax({
							type: "POST",
							url:'/saveConfigFile',
							data:{'configFile':this.items[index]},// 你的formid
							async: false,
							error: function(error) {
								console.log(error);
							},
							success: function(result) {
								alert(result.msg);
							}
						});
					}			      
			  	}	
			  }
			});

			new Vue({
			  el: '#provision',
			  data: {
			    object: provision
			  }
			});
	    }
	    </script>
    </body>
</html>