<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>config Util</title>
        <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
    	<form id="form" enctype="multipart/form-data" method="post">
		    <input type="file" name="upload" multiple="multiple"><br>
		    <input type="submit" value="Upload">
	    </form>
		
		<div class="container">
			<!-- Button trigger modal -->
			

			<!-- Modal -->
			<div class="modal fade" id="properties" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
			      </div>
			      <div id="propertiesData" v-html="properties" contenteditable="true" class="modal-body">
			        
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" v-on:click="propertiesUtil.save(path);">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
			
			<div  id="table">
			  <table class="table table-bordered table-hover">
			  	<thead>
			  		<tr><td>configuration</td></tr>
			  	</thead>
			  	<tbody>
				  	<tr>
				  	<td >brand1</td>
				  	<td >brand2</td>
				  	<td >唤醒词文件</td>
				  	<td >配置文件</td>
				  	<td >证书文件</td>
				  	</tr>
				    <tr v-for="item in items">
				    	<td>{{item.brand1}}</td>
				    	<td>{{item.brand2}}</td>
				    	<td>{{item.wakeup}}</td>
				    	<td> <a href="javascript:" v-on:click="propertiesUtil.edit(item.properties)">{{item.properties}}</a> </td>
				    	<td>{{item.provision}}</td>
				    </tr>
			    </tbody>
			  </table>
			</div>
			<!-- <div  id="config" >
			  <table class="table table-bordered table-hover">
			  	<thead>
			  		<tr><td>配置文件</td></tr>
			  	</thead>
			  	<tbody>
				  	<tr><td width="160px" align="center">型号</td><td align="center">参数</td></tr>
				    <tr v-for="(value, key) in object">
				    	<td align="center">{{key}}</td>
				    	<td v-html="value" contenteditable="true"></td>
				    </tr>
			    </tbody>
			  </table>
			</div>
			<div id="provision" >
			  <table class="table table-bordered table-hover">
			  	<thead>
			  		<tr><td>证书文件</td></tr>
			  	</thead>
			  	<tbody>
				  	<tr><td width="160px" align="center">型号</td><td align="center">路径</td></tr>
				    <tr v-for="(value, key) in object">
				    	<td align="center">{{key}}</td>
				    	<td align="center">{{value}}</td>
				    </tr>
			    </tbody>
			  </table>
			</div> -->
		</div>



	    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
	    <script src="./bower_components/jquery-form/jquery.form.js"></script>
	    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	    <script src="./bower_components/vue/dist/vue.min.js"></script>
	    <script type="text/javascript">
	    String.prototype.replaceAll = function(s1,s2){
		　　return this.replace(new RegExp(s1,"gm"),s2);
		}
	    readFolder();
	    //解压
	    function unzip(filePath){
	    	$.ajax({
				type: "POST",
				url:'/unzip',
				data:{'filePath':filePath},
				async: false,
				error: function(request) {
					alert("Connection error");
				},
				success: function(result) {					
					if(result.success){
						console.log(result.msg);
						readFolder();
					}
				}
			});
	    }


	    var vueProperties =  new Vue({
			  el: '#properties',
			  data: {
			    properties : '',
			    path:''
			  }
			});

	    propertiesUtil = {
	    	edit : function (path){
		    	console.log(path);
		    	$.ajax({
					type: "POST",
					url:'/readProperties',
					data:{'filePath':path},// 你的formid
					async: false,
					error: function(error) {
						console.log(error);
					},
					success: function(result) {
						if(result.success){
							vueProperties.properties = result.data.replaceAll('\r\n','<br>');
							vueProperties.path = path;
						}
						
					}
				});
		    	$('#properties').modal();
		    },
		    save : function(filePath){
		    	var str = $("#propertiesData").html().replaceAll('<br>','\r\n');
		    	console.log(str);
		    	$.ajax({
					type: "POST",
					url:'/writeFile',
					data:{'str':str,'filePath':filePath},// 你的formid
					async: false,
					error: function(error) {
						console.log(error);
					},
					success: function(result) {
						console.log(result);
						
					}
				});
		    	console.log();
		    	
		    }
	    }

	    


	    //读文件
	    function readFolder(){
	    	$.ajax({
				type: "POST",
				url:'/readFolder',
				async: false,
				error: function(error) {
					console.log(error);
				},
				success: function(result) {
					console.log(result);
					if(result.success){
						new Vue({
						  el: '#table',
						  data: {
						    items: result.data
						  }
						});
					}
					
				}
			});
	    }


	    //上传zip
	    $(function() {  
	        $("#form").submit(function(){  
	            $(this).ajaxSubmit({  
	                type:"post",  //提交方式  
	                dataType:"json", //数据类型  
	               	url:'/upload', //请求url  
	                success:function(result){ //提交成功的回调函数
	                	if(result.success){
	                		console.log(result.msg);
	                		unzip(result.filePath);
	                	}  
	                    //console.log(result);
	                }  
	            });  
	            return false; //不刷新页面  
	        });       
	    }); 

	    function deleteNullInArray(array){
	    	for(var i = 0 ;i<array.length;i++)
 				{
		             if(array[i] == "" || typeof(array[i]) == "undefined")
		             {
		                      array.splice(i,1);
		                      i= i-1;
		                  
		             }
		              
 				}
 				return array;
	    }
	    //all data
	    function dealData(result){
			console.log(result.msg);

			var wakeup = result.wakeup;
			
			var config = result.config;
			var provision = result.provision;
			var wakeupSerial = [];
			//console.log(deleteNullInArray(config['dyxc-D687-6735P'].split('\r\n')));
			
			for(var key in wakeup){
				var obj = JSON.parse(wakeup[key]).request;
				var newObj = {};
				newObj.coreType = obj.coreType;
				newObj.mainword = obj.mainword;
				newObj.nickname = obj.nickname;
				var env = obj.env;
				
				var envArr = env.split(';');
				var wordsArr = envArr[0].replace('words=','').split(',');
				var threshArr = envArr[1].replace('thresh=','').split(',');	
				newObj.wordsArr = wordsArr;
				newObj.threshArr = threshArr;
				newObj.key = key;
				wakeupSerial.push(newObj);
			}
			console.log(wakeupSerial);

			for(var key in config){							
				config[key] = config[key].replaceAll('\r\n','<br/>');
			}
			new Vue({
			  el: '#wakeup',
			  data: {
			    items: wakeupSerial
			  }
			});
			new Vue({
			  el: '#config',
			  data: {
			    object: config
			  }
			});

			new Vue({
			  el: '#provision',
			  data: {
			    object: provision
			  }
			});
	    }


	    </script>
    </body>
</html>